<div class="fields">
 
  <div class="field">
    <p>Nome</p>
    <input type="text" name="name" value="{{chef.name}}">
  </div>

  <div class="field">
    <p>Autor</p>

    {% if chef.file %}
      <div class="fileName">
        <input placeholder="{{chef.src}}">
      </div>
    {% else %}
      <div class="fileName"></div>
    {% endif %}


    <div class="avatar-upload" id="{{chef.file.id}}">
      <input type="hidden" name="removed_photo">
      <input 
        id="avatar-input"
        type="file" 
        name="photo"
        accept="image/*"
        onchange="PhotoUpload.fileActions(event)"
      >
      <p>Enviar Avatar</p>
    </div>    
  </div>

</div>