{% extends "admin/layout.njk" %}

{% block title %} <title>Edição de usuário</title> {% endblock %}

{% block content %}
  <div class="app">
    <form action="/admin/users?_method=PUT" method="post" id="save">
      <input type="hidden" name="id" value="{{user.id}}">

      <div class="head-form">
        <div class="title">
          <h1>Editando usuário</h1>
        </div>

        <div class="form-button">
          <button type="submit" class="delete" form="delete">Deletar</button>
          <button type="submit" form="save">Salvar</button>
        </div>
      </div>

      {% include 'admin/users/fields.njk' %}
    </form>

    <form action="/admin/users?_method=DELETE" method="POST" id="delete">
      <input type="hidden" name="id" value="{{user.id}}">
    </form>

  </div>
{% endblock %}

{% block script %}
    <script src="/scripts/deleteBtn.js"></script>
{% endblock %}