<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/homeCSS/main.css">

  {% block title %} <title>Foodfy</title> {% endblock %}
  
</head>
<body>
  
{% include 'home/pieces/header.njk' %}

{% block content %}{% endblock %}

{% include 'home/pieces/footer.njk' %}

{% block script %}{% endblock %}

{% include 'home/pieces/global-scripts.njk' %}
   
</body>
</html>