<header>
  <nav class="admin-navigator">
    <a href="/foodfy"><img src="/logoAdmin.png" alt="Logo"></a>
    <div class="links">
      <a href="/admin/recipes">Receitas</a>
      <a href="/admin/chefs">Chefs</a>
    </div>
  </nav>
</header>