<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% include 'admin/pieces/styles.njk' %}

  {% block title %} <title>Administração Foodfy</title> {% endblock %}
  
</head>
<body>
  
{% include 'admin/pieces/messages.njk' %}

{% include 'admin/pieces/header.njk' %}

{% block content %}{% endblock %}

{% block script %}{% endblock %}

{% include 'admin/pieces/scripts.njk' %}   
</body>
</html>