<header>
  <nav>
    <div class="links">
    <a href="/"><img src="/logo.png" alt="Logo"></a>
      <a href="/foodfy/about">Sobre</a>
      <a href="/foodfy/recipes">Receitas</a>
      <a href="/foodfy/chefs">chefs</a>
    </div>
    
    <form action="/foodfy" method="GET">
      <input 
        type="text"
        name="filter"
        placeholder="Buscar uma receita"
        value="{{filter}}"  
      >
      <button type="submit">Buscar</button>
    </form>
  </nav>
</header>