{% extends "admin/layout.njk" %}

{% block title %} <title>Gerenciador de receitas</title> {% endblock %}

{% block content%}

  <div class="app">
    <div class="head-create">
        <div>
          <h1>Gerenciar receitas</h1>
        </div>

        <div class="create-button">
          <a href="/admin/recipes/create">Criar</a>
        </div>
    </div>

    <div class="content-container">

      {% for recipe in recipes %}
        <div class="content">
          <img src="{{recipe.image}}" alt="{{recipe.title}}">
          <div class="content-info">
            <h3>{{recipe.title}}</h3>
            <p>{{recipe.author}}</p>
            <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
          </div>
        </div>
      {% endfor %}
      
    </div>

  </div>

{% endblock %}