/* = Chef Avatar = */
.field #avatar-upload {
  position: relative;

  display: block;
  overflow: hidden;

  width: 137px;
}

.field #avatar-upload p {
  background-color: var(--rck-color);
  border-radius: 4px;
  padding: 8px 16px;

  font-weight: bold;
  font-size: 16px;
  color: #ffffff;

  width: 100%;
  text-align: center;
}

.field #avatar-input {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;

  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* === Recipes Photos Upload === */
.field #photos {
  display: grid;
  grid-template-columns: 149px 1fr;
}

.field #photos-upload,
.field #added-photos .photo {
  position: relative;

  display: block;
  overflow: hidden;

  width: 149px;
  height: 149px;
}

/* = Add Icon = */
.field #photos-upload .icon {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 8px 16px;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.field #photos-upload .icon i {
  color: #999999;
  font-size: 50px;
}

.field #photos-input {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;

  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* == Images Aside == */
.field #added-photos {
  margin-left: 1%;
  display: flex;
  flex-wrap: wrap;
}

#added-photos .photo:last-child {
  margin: 0;
}

.field #added-photos > * {
  margin-right: 1%;
}

.field #added-photos .photo img {
  border: 1px solid #dddddd;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

#added-photos .photo i {
  position: absolute;
  top: 0;
  left: 0;

  background: rgba(255, 255, 255, 0.8);
  color: red;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 50px;
  cursor: pointer;

  transition: opacity 200ms;

  opacity: 0;
}

#added-photos .photo:hover i {
  opacity: 1;
}