.head-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.5%;
}

.title h1 {
  font-weight: bold;
  font-size: 24px;
  color: var(--title-color);
}

.form-button button {
  background-color: var(--rck-color);
  border-radius: 4px;
  padding: 10px 17px;
  cursor: pointer;

  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}

.form-button button.delete {
  background-color: #DC4747;
}

.fields > * {
  margin-bottom: 30px;
}

.field p {
  font-weight: bold;
  font-size: 16px;
  color: var(--title-color);
  margin-bottom: 10px;
}

.field input[type="text"],
.field input[type="url"],
.fileName input,
select,
textarea {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;

  padding: 16px;
  width: 100%;

  margin-bottom: 1%;
}

select {
  outline: none;
}

.field textarea {
  text-align: left;
  word-break:break-all;
}

.field button[type="button"] {
  margin-top: 15px;
  background-color: initial;
  cursor: pointer;

  font-weight: bold;
  font-size: 16px;
  color: var(--rck-color);
  text-align: right;
}
