header {
  display: flex;
  align-items: center;
}

.account-menu {
  position: absolute;
  right: 8%;
}

@media (max-width: 650px) {
  header .account-menu {
    right: initial;
    left: 30%;
  }
}

@media (max-width: 565px) {
  header .account-menu {
    right: initial;
    left: 34%;
  }
}

.dropdown {
  color: white;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown a {
  color: white;
  cursor: pointer;
}

.sub-menu {
  z-index: 1;
  position: absolute;
  top: 30px;

  width: 0;
  height: 127px;

  background: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--menu-color);
  border-radius: 4px;

  box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.5);

  visibility: hidden;
  opacity: 0;

  transition: all 1s;
}

.sub-menu.active {
  width: 150px;
  visibility: initial;
  opacity: 1;
}

.sub-menu ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  visibility: hidden;
}

.sub-menu ul.active {
  visibility: initial;
}

.sub-menu ul li {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-bottom: 1px solid var(--menu-color);
  width: 100%;
}

.sub-menu ul li:last-child {
  border-bottom: none;
}

.sub-menu ul > * {
  letter-spacing: .5px;
  line-height: 30px;
}

.sub-menu a {
  color: white;
}

.sub-menu form {
  display: flex;
  justify-content: center;
}

.sub-menu form button {
  background: none;
  color: white;

  font-weight: bold;
  line-height: 30px;
  letter-spacing: 1.5px;

  text-transform: uppercase;
}

.sub-menu a:hover,
.sub-menu form button:hover,
.dropdown a:hover {
  color: var(--menu-color);
}