header.none-login {
  display: none;
}

.head-login {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 3.5%;
}

.head-login > div:first-child {
  margin-bottom: 145px;
}

.head-login > div img {
  font-family: Cochin;
  font-weight: normal;
  font-size: 28px;
  color: var(--title-color);
  letter-spacing: 1.65px;
}

.head-login .title h1 {
  font-family: Helvetica, sans-serif;
  color: var(--title-color);
}

.login-container {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.fields .user-fields.login-container > * {
  margin-bottom: 5px;
}

.login-footer {
  margin-top: 35px;
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-footer a {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color:  #969696;
}